In [ ]:
import sqlite3
import pandas as pd
from pandas import DataFrame

# Import dataframe variables from python if can't pull from jupyter notebooks
from python_jupyter_file1 import df1 #CREW
from python_jupyter_file2 import df2 #FLIGHTS
from python_jupyter_file3 import df3 #SHIPS

#Make Connection
conn = sqlite3.connect('Team1_db.db')  
c = conn.cursor()


df1.to_sql('CREW', conn, if_exists='append', index = False)
df12.to_sql('FLIGHTS', conn, if_exists='append', index = False)
df3.to_sql('SHIPS', conn, if_exists='append', index = False)

In [ ]:
# New SQLite Table

In [ ]:
# Populate with joined tables

In [ ]:
# Replace name values with table IDs