In [10]:
import sqlite3
import pandas as pd

In [14]:
from test_table import test_db1 #CREW

# Import dataframe variables from python if can't pull from jupyter notebooks
#from python_jupyter_file2 import df2 #FLIGHTS
#from python_jupyter_file3 import df3 #SHIPS

In [15]:

#Make Connection
conn = sqlite3.connect('test_sqlite.db')  
c = conn.cursor()


test_db1.to_sql('CREW', conn, if_exists='append', index = False)
#df12.to_sql('FLIGHTS', conn, if_exists='append', index = False)
#df3.to_sql('SHIPS', conn, if_exists='append', index = False)

AttributeError: 'function' object has no attribute 'to_sql'

In [ ]:
# New SQLite Table

In [ ]:
# Populate with joined tables

In [ ]:
# Replace name values with table IDs