In [9]:
#Import dependencies
import requests
import pandas as pd
import re

In [10]:
#Set up url
url = 'https://www.windows2universe.org/space_missions/manned_table.html'

#Retrieve page
tables = pd.read_html(url)

#Create df
df_mission = tables[0]

df_mission

,0,1,2,3,4
0,Mission(Country),Craft,Launch Date,Crew,Mission Highlights
1,Vostok-1(USSR),Kedr (Cedar),"April 12, 1961",Gagarin,Cosmonaut Yuri Garagin became the first human ...
2,Mercury-3(USA),Freedom 7,"May 5, 1961",Shepard,Alan Shepard became the first American in spac...
3,Mercury-4(USA),Liberty Bell-7,"July 21, 1961",Grissom,"The second US sub-orbital flight, reaching an ..."
4,Vostok-2(USSR),Orel (Eagle),"August 6, 1961",Titov,Titov was the first to spend an entire day in ...
5,Mercury-6(USA),Friendship 7,"February 20,1962",Glenn,The first US manned orbital flight at an orbit...
6,Mercury-7(USA),Aurora 7,"May 24, 1962",Carpenter,The second US manned orbital flight which orbi...
7,Vostok-3(USSR),Sokol (Falcon),"August 11, 1962",Nikolayev,"First four-day flight and first ""group"" flight..."
8,Vostok-4(USSR),Berkut (Golden Eagle),"August 12, 1962",Popovich,"The other half of the first ""group"" flight. Vo..."
9,Mercury-8(USA),Sigma 7,"October 3, 1962",Schirra,Walter Schirra orbited the Earth six times dur...
10,Mercury 9(USA),Faith 7,"May 15, 1963",Cooper,Cooper pilots the longest and last Mercury mis...
11,Vostok 5(USSR),Yastreb (Hawk),"June 14, 1963",Bykovsky,Bykovsky set an endurance record of 5 days in ...
12,Vostok 6(USSR),Chaika (Seagull),"June 16,1963",Tereshkova,This mission marked the first woman in space.
13,Voskhod 1(USSR),Rubin (Ruby),"October 12, 1964",Komarov Feoktistov Yegorov,"The first space crew, with one pilot and two p..."
14,Voskhod 2(USSR),Almaz (Diamond),"March 18, 1965",Belyavyev Leonov,Leonov became the first person to walk in spac...
15,Gemini-Titan 3(USA),Molly Brown,"March 23, 1965",GrissomYoung,"Starting the Gemini program, this spacecraft w..."
16,Gemini-Titan 4(USA),Gemini 4,"June 3, 1965",McDivittWhite,This mission set a four-day endurance record. ...
17,Gemini-Titan 5(USA),Gemini 5,"August 21, 1965",Cooper Conrad,Cooper and Conrad set the world endurance reco...
18,Gemini-Titan 7(USA),Gemini 7,"December 4, 1965",Borman Lovell,This mission set yet another endurance record ...
19,Gemini-Titan 6-A(USA),Gemini 6,"December 15,1965",SchirraStafford,Gemini 6 rendezvoused with Gemini 7 coming wit...
20,Gemini-Titan 8(USA),Gemini 8,"March 16,1966",Armstrong Scott,Armstrong and Scott perform the first docking ...
21,Gemini-Titan 9-A(USA),Gemini 9,"June 3,1966",Stafford Cernan,Gemini 9 rendezvoused with the Augmented Targe...
22,Gemini-Titan 10(USA),Gemini 10,"July 18,1966",Young Collins,Gemini 10 reached a record altitude of 468 mil...
23,Gemini-Titan 11(USA),Gemini 11,"September 12, 1966",Conrad Gordon,Gemini made the first American autopilot reent...
24,Gemini-Titan 12(USA),Gemini 12,"November 11, 1966",Lovell Aldrin,"In this last Gemini mission, Aldrin made three..."
25,Apollo-Saturn 204(USA),Apollo 1,"January 27, 1967",GrissomWhite Chaffee,While training for a fourteen-day mission sche...
26,Soyuz 1(USSR),Rubin (Ruby),"April 23, 1967",Komarov,Cosmonaut Komarov launches the first Soyuz mis...
27,Apollo-Saturn 7(USA),Apollo 7,"October 11, 1968",Schirra Eisele Cunningham,The Apollo spacecraft makes its first flight a...
28,Soyuz 3(USSR),Argon,"October 26,1968",Beregovoy,First manned flight of the redesigned Soyuz cr...
29,Apollo-Saturn 8(USA),Apollo 8,"December 21, 1968",",Borman Lovell Anders",This Saturn 5 rocket sent the astronauts to th...
...,...,...,...,...,...
108,61-A(USA),"Challenger, Spacelab D1","October 30, 1985",Hartsfield Nagel Dunbar Buchli Bluford Furrer ...,Spacelab D1 was controlled by the West German ...
109,61-B(USA),Atlantis,"November 26, 1985",Shaw O'Connor Ross Cleave Spring Walker Neri Vela,The crew of Mission 61-B tested space construc...
110,61-C(USA),Columbia,"January 12, 1986",Gibson Bolden Nelson Hawley Chang-Diaz Cenker,This mission had lots of problems and had to b...
111,51-L(USA),Challenger,"January 28, 1986",Scobee Smith Onizuka Resnik McNair Jarvis McAu...,All seven crew members were killed when Challe...
112,Soyuz T-15(USSR),Mayak,"March 13, 1986",Kizim Solovyov,The 125-day Soyuz T-15 mission was one of the ...
113,Soyuz TM-2(USSR),Taimyr,"February 6, 1987",Romanenko Laveikin,Romanenko and Laveikin made up the second resi...
114,Soyuz TM-3(USSR),Vityaz (Knight),"July 22, 1987",Viktorenko Alexandrov Faris,Faris became the first Syrian in space as he a...
115,Soyuz TM-4(USSR),Okean,"December 21, 1987",Titov Manarov Levchenko,Titov and Manarov completed the first year-lon...
116,Soyuz TM-5(USSR),Rodnik (Spring),"June 7, 1988",SolovyovSavinykh Alexandrov,"The first Bulgarian in space, Alexandrov and h..."
117,Soyuz TM-6(USSR),Proton,"August 29, 1988",Lyakhov Polyakov Mohmand,Mohmand became the first space traveler for Af...
118,STS-26(USA),Discovery,"September 29, 1988",Hauck Covey Lounge Hilmers Nelson,The Shuttle program's return to flight after t...
119,Soyuz TM-7(USSR),Donbass,"November 26, 1988",Volkov Krikalev Chretien,The new crew for the Mir station recorded the ...
120,STS-27(USA),Atlantis,"December 2, 1988",Gibson Gardner Mullane Ross Shepherd,The third classified Department of Defense Shu...
121,STS-29(USA),Discovery,"March 13, 1989",Coats Blaha Buchli Springer Bagian,This mission deployed the third tracking and d...
122,STS-30(USA),Atlantis,"May 4, 1989",Walker Grabe Thagard Cleave Lee,Deployed the radar mapping space probe Magella...
123,STS-28(USA),Columbia,"August 13, 1989",Shaw Richards Leestma Adamson Brown,The fourth classified Department of Defense Sh...
124,Soyuz TM-8(USSR),Vityaz (Knight),"September 6, 1989",Viktorenko Serebrov,This fifth Mir crew spent 166 days in space. T...
125,STS-34(USA),Atlantis,"October 18, 1989",Williams McCulley Lucid Chang-Diaz Baker,"Deployed the space probe Galileo, sending it o..."
126,STS-33(USA),Discovery,"November 22, 1989",Gregory Blaha Carter Musgrave Thornton,The fifth Department of Defense Shuttle mission.
127,STS-32(USA),Columbia,"January 9, 1990",Brandenstein Wetherbee Dunbar Ivins Low,This Shuttle mission deployed the Syncom IV-5 ...
128,Soyuz TM-9(USSR),Rodnik,"February 11, 1990",Solovyov Balandin,Solovyov and Balandin became the sixth Mir cre...
129,STS-36(USA),Atlantis,"February 28, 1990",Creighton Casper Hilmers Mullane Thuot,The sixth classified Department of Defense Shu...
130,STS-31(USA),Discovery,"April 24, 1990",Shriver Bolden McCandless Hawley Sullivan,Deployed the Hubble Space Telescope.
131,Soyuz TM-10(USSR),Vulkan,"August 1, 1990",Manakov Strekalov,The seventh Mir crew spent over 131 days in sp...
132,STS-41(USA),Discovery,"October 6, 1990",Richards Cabana Melnick Shepherd Akers,"Deployed the Ulysses space probe, sending it o..."
133,STS-38(USA),Atlantis,"November 15, 1990",Covey Culbertson Springer Meade Gemar,The last classified Department of Defense Shut...
134,STS-35(USA),Columbia,"December 2, 1990",Brand Gardner Hoffman Lounge Parker,This Spacelab mission performed astronomical e...
135,Soyuz TM-11(USSR),Derbent,"December 2, 1990",Afanasyev Manarov Akiyama,"The first Soviet commercial passenger, Japanes..."
136,STS-37(USA),Atlantis,"April 5, 1991",Nagel Cameron Godwin Ross Apt,Deployed the Gamma Ray Observatory.
137,STS-39(USA),Discovery,"April 28,1991",Coats Hammond Harbaugh McMonagle Bluford Veach...,This unclassified Department of Defense Shuttl...

In [11]:
#Set up headers
df_mission.columns = df_mission.iloc[0]
df_mission = df_mission.drop(0)

#Delete "(Country)" from first column header
df_mission = df_mission.rename(columns={"Mission(Country)":"Mission"})

#Delete all rows with "(USSR)" in Mission name
df_mission = df_mission[~df_mission['Mission'].str.contains('(USSR)')]

df_mission

C:\Users\Elizabeth Jaye\acaconda\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:9: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  if __name__ == '__main__':

,Mission,Craft,Launch Date,Crew,Mission Highlights
2,Mercury-3(USA),Freedom 7,"May 5, 1961",Shepard,Alan Shepard became the first American in spac...
3,Mercury-4(USA),Liberty Bell-7,"July 21, 1961",Grissom,"The second US sub-orbital flight, reaching an ..."
5,Mercury-6(USA),Friendship 7,"February 20,1962",Glenn,The first US manned orbital flight at an orbit...
6,Mercury-7(USA),Aurora 7,"May 24, 1962",Carpenter,The second US manned orbital flight which orbi...
9,Mercury-8(USA),Sigma 7,"October 3, 1962",Schirra,Walter Schirra orbited the Earth six times dur...
10,Mercury 9(USA),Faith 7,"May 15, 1963",Cooper,Cooper pilots the longest and last Mercury mis...
15,Gemini-Titan 3(USA),Molly Brown,"March 23, 1965",GrissomYoung,"Starting the Gemini program, this spacecraft w..."
16,Gemini-Titan 4(USA),Gemini 4,"June 3, 1965",McDivittWhite,This mission set a four-day endurance record. ...
17,Gemini-Titan 5(USA),Gemini 5,"August 21, 1965",Cooper Conrad,Cooper and Conrad set the world endurance reco...
18,Gemini-Titan 7(USA),Gemini 7,"December 4, 1965",Borman Lovell,This mission set yet another endurance record ...
19,Gemini-Titan 6-A(USA),Gemini 6,"December 15,1965",SchirraStafford,Gemini 6 rendezvoused with Gemini 7 coming wit...
20,Gemini-Titan 8(USA),Gemini 8,"March 16,1966",Armstrong Scott,Armstrong and Scott perform the first docking ...
21,Gemini-Titan 9-A(USA),Gemini 9,"June 3,1966",Stafford Cernan,Gemini 9 rendezvoused with the Augmented Targe...
22,Gemini-Titan 10(USA),Gemini 10,"July 18,1966",Young Collins,Gemini 10 reached a record altitude of 468 mil...
23,Gemini-Titan 11(USA),Gemini 11,"September 12, 1966",Conrad Gordon,Gemini made the first American autopilot reent...
24,Gemini-Titan 12(USA),Gemini 12,"November 11, 1966",Lovell Aldrin,"In this last Gemini mission, Aldrin made three..."
25,Apollo-Saturn 204(USA),Apollo 1,"January 27, 1967",GrissomWhite Chaffee,While training for a fourteen-day mission sche...
27,Apollo-Saturn 7(USA),Apollo 7,"October 11, 1968",Schirra Eisele Cunningham,The Apollo spacecraft makes its first flight a...
29,Apollo-Saturn 8(USA),Apollo 8,"December 21, 1968",",Borman Lovell Anders",This Saturn 5 rocket sent the astronauts to th...
32,Apollo-Saturn 9(USA),Apollo 9cm: Gumdroplm: Spider,"March 3, 1969",McDivitt Scott Schweickart,McDivitt and Schweickart made the first manned...
33,Apollo-Saturn 10(USA),Apollo 10cm: Charlie Brownlm: Snoopy,"May 18, 1969",Stafford Young Cernan,This mission was a dress rehearsal for a lunar...
34,Apollo-Saturn 11(USA),Apollo 11cm: Columbialm: Eagle,"July 16, 1969",Armstrong Collins Aldrin,Apollo 11 successfully completed the first man...
38,Apollo-Saturn 12(USA),Apollo 12cm: Yankee Clipperlm: Intrepid,"November 14, 1969",Conrad Gordon Bean,Apollo 12 made the second landing on the moon....
39,Apollo-Saturn 13(USA),Apollo 13cm: Odysseylm: Aquarius,"April 11, 1970",Lovell Swigert Haise,The third manned lunar landing was aborted due...
41,Apollo-Saturn 14(USA),Apollo 14cm: Kitty Hawklm: Antares,"January 31, 1971",Shepard Roosa Mitchell,Apollo 14 was the third successful lunar landi...
44,Apollo-Saturn 15(USA),Apollo 15cm: Endeavourlm: Falcon,"July 26, 1971",Scott Worden Irwin,Scott and Irwin became the first astronauts to...
45,Apollo-Saturn 16(USA),Apollo 16cm: Casperlm: Orion,"April 16, 1972",Young Mattingly Duke,Young and Duke visited the previously unexplor...
46,Apollo-Saturn 17(USA),Apollo 17cm: Challengerlm: America,"December 7, 1972",Cernan Evans Schmitt,Apollo 17 was the last lunar landing mission. ...
47,Skylab SL-2(USA),Skylab,"May 25, 1973",Conrad Kerwin Weitz,"The first American laboratory in space, Skylab..."
48,Skylab SL-3(USA),Skylab,"July 23, 1973",Bean Garriott Lousma,These astronauts became the second crew of Sky...
...,...,...,...,...,...
94,41-C(USA),Challenger,"April 6, 1984",Crippen Scobee Hart van Hoften Nelson,"This mission accomplished the first capture, r..."
96,41-D(USA),Discovery,"August 30, 1984",Hartsfield Coats Mullane Hawley Resnik Walker,First flight of the Shuttle Discovery. The Con...
97,41-G(USA),Challenger,"October 5, 1984",Crippen McBride Sullivan Ride Leestma Scully-P...,First crew of seven. The astronauts deployed t...
98,51-A(USA),Discovery,"November 8, 1984",Hauck Walker Allen Fisher Gardner,Two new satellites were launched and two broke...
99,51-C(USA),Discovery,"January 24, 1985",Mattingly Shriver Onizuka Buchli Payton,The first classified U.S. Department of Defens...
100,51-D(USA),Discovery,"April 12, 1985",Bobko Williams Seddon Griggs Hoffman Walker Garn,This mission deployed a communications satellite.
101,51-B(USA),"Challenger, Spacelab","April 29, 1985",Overmyer Gregory Lind Thagard Thornton Wang va...,"Spacelab 3, the first life sciences and space ..."
103,51-G(USA),Discovery,"June 17, 1985",Brandenstein Creighton Fabian Nagel Lucid Baud...,The first tri-national space crew deployed thr...
104,51-F(USA),"Challenger, Spacelab","July 29, 1985",Fullerton Bridges Henize Musgrave England Acto...,Spacelab 2 carried experiments in life science...
105,51-I(USA),Discovery,"August 27, 1985",Engle Covey van Hoften Lounge Fisher,"The astronauts deployed two satellites, then r..."
107,51-J(USA),Atlantis,"October 3, 1985",Bobko Grabe Hilmers Stewart Pailes,The first flight of Shuttle Atlantis was the s...
108,61-A(USA),"Challenger, Spacelab D1","October 30, 1985",Hartsfield Nagel Dunbar Buchli Bluford Furrer ...,Spacelab D1 was controlled by the West German ...
109,61-B(USA),Atlantis,"November 26, 1985",Shaw O'Connor Ross Cleave Spring Walker Neri Vela,The crew of Mission 61-B tested space construc...
110,61-C(USA),Columbia,"January 12, 1986",Gibson Bolden Nelson Hawley Chang-Diaz Cenker,This mission had lots of problems and had to b...
111,51-L(USA),Challenger,"January 28, 1986",Scobee Smith Onizuka Resnik McNair Jarvis McAu...,All seven crew members were killed when Challe...
118,STS-26(USA),Discovery,"September 29, 1988",Hauck Covey Lounge Hilmers Nelson,The Shuttle program's return to flight after t...
120,STS-27(USA),Atlantis,"December 2, 1988",Gibson Gardner Mullane Ross Shepherd,The third classified Department of Defense Shu...
121,STS-29(USA),Discovery,"March 13, 1989",Coats Blaha Buchli Springer Bagian,This mission deployed the third tracking and d...
122,STS-30(USA),Atlantis,"May 4, 1989",Walker Grabe Thagard Cleave Lee,Deployed the radar mapping space probe Magella...
123,STS-28(USA),Columbia,"August 13, 1989",Shaw Richards Leestma Adamson Brown,The fourth classified Department of Defense Sh...
125,STS-34(USA),Atlantis,"October 18, 1989",Williams McCulley Lucid Chang-Diaz Baker,"Deployed the space probe Galileo, sending it o..."
126,STS-33(USA),Discovery,"November 22, 1989",Gregory Blaha Carter Musgrave Thornton,The fifth Department of Defense Shuttle mission.
127,STS-32(USA),Columbia,"January 9, 1990",Brandenstein Wetherbee Dunbar Ivins Low,This Shuttle mission deployed the Syncom IV-5 ...
129,STS-36(USA),Atlantis,"February 28, 1990",Creighton Casper Hilmers Mullane Thuot,The sixth classified Department of Defense Shu...
130,STS-31(USA),Discovery,"April 24, 1990",Shriver Bolden McCandless Hawley Sullivan,Deployed the Hubble Space Telescope.
132,STS-41(USA),Discovery,"October 6, 1990",Richards Cabana Melnick Shepherd Akers,"Deployed the Ulysses space probe, sending it o..."
133,STS-38(USA),Atlantis,"November 15, 1990",Covey Culbertson Springer Meade Gemar,The last classified Department of Defense Shut...
134,STS-35(USA),Columbia,"December 2, 1990",Brand Gardner Hoffman Lounge Parker,This Spacelab mission performed astronomical e...
136,STS-37(USA),Atlantis,"April 5, 1991",Nagel Cameron Godwin Ross Apt,Deployed the Gamma Ray Observatory.
137,STS-39(USA),Discovery,"April 28,1991",Coats Hammond Harbaugh McMonagle Bluford Veach...,This unclassified Department of Defense Shuttl...

In [12]:
#Reset Index
df_mission = df_mission.reset_index(drop=True)
df_mission

,Mission,Craft,Launch Date,Crew,Mission Highlights
0,Mercury-3(USA),Freedom 7,"May 5, 1961",Shepard,Alan Shepard became the first American in spac...
1,Mercury-4(USA),Liberty Bell-7,"July 21, 1961",Grissom,"The second US sub-orbital flight, reaching an ..."
2,Mercury-6(USA),Friendship 7,"February 20,1962",Glenn,The first US manned orbital flight at an orbit...
3,Mercury-7(USA),Aurora 7,"May 24, 1962",Carpenter,The second US manned orbital flight which orbi...
4,Mercury-8(USA),Sigma 7,"October 3, 1962",Schirra,Walter Schirra orbited the Earth six times dur...
5,Mercury 9(USA),Faith 7,"May 15, 1963",Cooper,Cooper pilots the longest and last Mercury mis...
6,Gemini-Titan 3(USA),Molly Brown,"March 23, 1965",GrissomYoung,"Starting the Gemini program, this spacecraft w..."
7,Gemini-Titan 4(USA),Gemini 4,"June 3, 1965",McDivittWhite,This mission set a four-day endurance record. ...
8,Gemini-Titan 5(USA),Gemini 5,"August 21, 1965",Cooper Conrad,Cooper and Conrad set the world endurance reco...
9,Gemini-Titan 7(USA),Gemini 7,"December 4, 1965",Borman Lovell,This mission set yet another endurance record ...
10,Gemini-Titan 6-A(USA),Gemini 6,"December 15,1965",SchirraStafford,Gemini 6 rendezvoused with Gemini 7 coming wit...
11,Gemini-Titan 8(USA),Gemini 8,"March 16,1966",Armstrong Scott,Armstrong and Scott perform the first docking ...
12,Gemini-Titan 9-A(USA),Gemini 9,"June 3,1966",Stafford Cernan,Gemini 9 rendezvoused with the Augmented Targe...
13,Gemini-Titan 10(USA),Gemini 10,"July 18,1966",Young Collins,Gemini 10 reached a record altitude of 468 mil...
14,Gemini-Titan 11(USA),Gemini 11,"September 12, 1966",Conrad Gordon,Gemini made the first American autopilot reent...
15,Gemini-Titan 12(USA),Gemini 12,"November 11, 1966",Lovell Aldrin,"In this last Gemini mission, Aldrin made three..."
16,Apollo-Saturn 204(USA),Apollo 1,"January 27, 1967",GrissomWhite Chaffee,While training for a fourteen-day mission sche...
17,Apollo-Saturn 7(USA),Apollo 7,"October 11, 1968",Schirra Eisele Cunningham,The Apollo spacecraft makes its first flight a...
18,Apollo-Saturn 8(USA),Apollo 8,"December 21, 1968",",Borman Lovell Anders",This Saturn 5 rocket sent the astronauts to th...
19,Apollo-Saturn 9(USA),Apollo 9cm: Gumdroplm: Spider,"March 3, 1969",McDivitt Scott Schweickart,McDivitt and Schweickart made the first manned...
20,Apollo-Saturn 10(USA),Apollo 10cm: Charlie Brownlm: Snoopy,"May 18, 1969",Stafford Young Cernan,This mission was a dress rehearsal for a lunar...
21,Apollo-Saturn 11(USA),Apollo 11cm: Columbialm: Eagle,"July 16, 1969",Armstrong Collins Aldrin,Apollo 11 successfully completed the first man...
22,Apollo-Saturn 12(USA),Apollo 12cm: Yankee Clipperlm: Intrepid,"November 14, 1969",Conrad Gordon Bean,Apollo 12 made the second landing on the moon....
23,Apollo-Saturn 13(USA),Apollo 13cm: Odysseylm: Aquarius,"April 11, 1970",Lovell Swigert Haise,The third manned lunar landing was aborted due...
24,Apollo-Saturn 14(USA),Apollo 14cm: Kitty Hawklm: Antares,"January 31, 1971",Shepard Roosa Mitchell,Apollo 14 was the third successful lunar landi...
25,Apollo-Saturn 15(USA),Apollo 15cm: Endeavourlm: Falcon,"July 26, 1971",Scott Worden Irwin,Scott and Irwin became the first astronauts to...
26,Apollo-Saturn 16(USA),Apollo 16cm: Casperlm: Orion,"April 16, 1972",Young Mattingly Duke,Young and Duke visited the previously unexplor...
27,Apollo-Saturn 17(USA),Apollo 17cm: Challengerlm: America,"December 7, 1972",Cernan Evans Schmitt,Apollo 17 was the last lunar landing mission. ...
28,Skylab SL-2(USA),Skylab,"May 25, 1973",Conrad Kerwin Weitz,"The first American laboratory in space, Skylab..."
29,Skylab SL-3(USA),Skylab,"July 23, 1973",Bean Garriott Lousma,These astronauts became the second crew of Sky...
...,...,...,...,...,...
41,41-C(USA),Challenger,"April 6, 1984",Crippen Scobee Hart van Hoften Nelson,"This mission accomplished the first capture, r..."
42,41-D(USA),Discovery,"August 30, 1984",Hartsfield Coats Mullane Hawley Resnik Walker,First flight of the Shuttle Discovery. The Con...
43,41-G(USA),Challenger,"October 5, 1984",Crippen McBride Sullivan Ride Leestma Scully-P...,First crew of seven. The astronauts deployed t...
44,51-A(USA),Discovery,"November 8, 1984",Hauck Walker Allen Fisher Gardner,Two new satellites were launched and two broke...
45,51-C(USA),Discovery,"January 24, 1985",Mattingly Shriver Onizuka Buchli Payton,The first classified U.S. Department of Defens...
46,51-D(USA),Discovery,"April 12, 1985",Bobko Williams Seddon Griggs Hoffman Walker Garn,This mission deployed a communications satellite.
47,51-B(USA),"Challenger, Spacelab","April 29, 1985",Overmyer Gregory Lind Thagard Thornton Wang va...,"Spacelab 3, the first life sciences and space ..."
48,51-G(USA),Discovery,"June 17, 1985",Brandenstein Creighton Fabian Nagel Lucid Baud...,The first tri-national space crew deployed thr...
49,51-F(USA),"Challenger, Spacelab","July 29, 1985",Fullerton Bridges Henize Musgrave England Acto...,Spacelab 2 carried experiments in life science...
50,51-I(USA),Discovery,"August 27, 1985",Engle Covey van Hoften Lounge Fisher,"The astronauts deployed two satellites, then r..."
51,51-J(USA),Atlantis,"October 3, 1985",Bobko Grabe Hilmers Stewart Pailes,The first flight of Shuttle Atlantis was the s...
52,61-A(USA),"Challenger, Spacelab D1","October 30, 1985",Hartsfield Nagel Dunbar Buchli Bluford Furrer ...,Spacelab D1 was controlled by the West German ...
53,61-B(USA),Atlantis,"November 26, 1985",Shaw O'Connor Ross Cleave Spring Walker Neri Vela,The crew of Mission 61-B tested space construc...
54,61-C(USA),Columbia,"January 12, 1986",Gibson Bolden Nelson Hawley Chang-Diaz Cenker,This mission had lots of problems and had to b...
55,51-L(USA),Challenger,"January 28, 1986",Scobee Smith Onizuka Resnik McNair Jarvis McAu...,All seven crew members were killed when Challe...
56,STS-26(USA),Discovery,"September 29, 1988",Hauck Covey Lounge Hilmers Nelson,The Shuttle program's return to flight after t...
57,STS-27(USA),Atlantis,"December 2, 1988",Gibson Gardner Mullane Ross Shepherd,The third classified Department of Defense Shu...
58,STS-29(USA),Discovery,"March 13, 1989",Coats Blaha Buchli Springer Bagian,This mission deployed the third tracking and d...
59,STS-30(USA),Atlantis,"May 4, 1989",Walker Grabe Thagard Cleave Lee,Deployed the radar mapping space probe Magella...
60,STS-28(USA),Columbia,"August 13, 1989",Shaw Richards Leestma Adamson Brown,The fourth classified Department of Defense Sh...
61,STS-34(USA),Atlantis,"October 18, 1989",Williams McCulley Lucid Chang-Diaz Baker,"Deployed the space probe Galileo, sending it o..."
62,STS-33(USA),Discovery,"November 22, 1989",Gregory Blaha Carter Musgrave Thornton,The fifth Department of Defense Shuttle mission.
63,STS-32(USA),Columbia,"January 9, 1990",Brandenstein Wetherbee Dunbar Ivins Low,This Shuttle mission deployed the Syncom IV-5 ...
64,STS-36(USA),Atlantis,"February 28, 1990",Creighton Casper Hilmers Mullane Thuot,The sixth classified Department of Defense Shu...
65,STS-31(USA),Discovery,"April 24, 1990",Shriver Bolden McCandless Hawley Sullivan,Deployed the Hubble Space Telescope.
66,STS-41(USA),Discovery,"October 6, 1990",Richards Cabana Melnick Shepherd Akers,"Deployed the Ulysses space probe, sending it o..."
67,STS-38(USA),Atlantis,"November 15, 1990",Covey Culbertson Springer Meade Gemar,The last classified Department of Defense Shut...
68,STS-35(USA),Columbia,"December 2, 1990",Brand Gardner Hoffman Lounge Parker,This Spacelab mission performed astronomical e...
69,STS-37(USA),Atlantis,"April 5, 1991",Nagel Cameron Godwin Ross Apt,Deployed the Gamma Ray Observatory.
70,STS-39(USA),Discovery,"April 28,1991",Coats Hammond Harbaugh McMonagle Bluford Veach...,This unclassified Department of Defense Shuttl...

In [13]:
#Delete country naming
df_mission['Mission'] = df_mission['Mission'].str[:-5]
df_mission

,Mission,Craft,Launch Date,Crew,Mission Highlights
0,Mercury-3,Freedom 7,"May 5, 1961",Shepard,Alan Shepard became the first American in spac...
1,Mercury-4,Liberty Bell-7,"July 21, 1961",Grissom,"The second US sub-orbital flight, reaching an ..."
2,Mercury-6,Friendship 7,"February 20,1962",Glenn,The first US manned orbital flight at an orbit...
3,Mercury-7,Aurora 7,"May 24, 1962",Carpenter,The second US manned orbital flight which orbi...
4,Mercury-8,Sigma 7,"October 3, 1962",Schirra,Walter Schirra orbited the Earth six times dur...
5,Mercury 9,Faith 7,"May 15, 1963",Cooper,Cooper pilots the longest and last Mercury mis...
6,Gemini-Titan 3,Molly Brown,"March 23, 1965",GrissomYoung,"Starting the Gemini program, this spacecraft w..."
7,Gemini-Titan 4,Gemini 4,"June 3, 1965",McDivittWhite,This mission set a four-day endurance record. ...
8,Gemini-Titan 5,Gemini 5,"August 21, 1965",Cooper Conrad,Cooper and Conrad set the world endurance reco...
9,Gemini-Titan 7,Gemini 7,"December 4, 1965",Borman Lovell,This mission set yet another endurance record ...
10,Gemini-Titan 6-A,Gemini 6,"December 15,1965",SchirraStafford,Gemini 6 rendezvoused with Gemini 7 coming wit...
11,Gemini-Titan 8,Gemini 8,"March 16,1966",Armstrong Scott,Armstrong and Scott perform the first docking ...
12,Gemini-Titan 9-A,Gemini 9,"June 3,1966",Stafford Cernan,Gemini 9 rendezvoused with the Augmented Targe...
13,Gemini-Titan 10,Gemini 10,"July 18,1966",Young Collins,Gemini 10 reached a record altitude of 468 mil...
14,Gemini-Titan 11,Gemini 11,"September 12, 1966",Conrad Gordon,Gemini made the first American autopilot reent...
15,Gemini-Titan 12,Gemini 12,"November 11, 1966",Lovell Aldrin,"In this last Gemini mission, Aldrin made three..."
16,Apollo-Saturn 204,Apollo 1,"January 27, 1967",GrissomWhite Chaffee,While training for a fourteen-day mission sche...
17,Apollo-Saturn 7,Apollo 7,"October 11, 1968",Schirra Eisele Cunningham,The Apollo spacecraft makes its first flight a...
18,Apollo-Saturn 8,Apollo 8,"December 21, 1968",",Borman Lovell Anders",This Saturn 5 rocket sent the astronauts to th...
19,Apollo-Saturn 9,Apollo 9cm: Gumdroplm: Spider,"March 3, 1969",McDivitt Scott Schweickart,McDivitt and Schweickart made the first manned...
20,Apollo-Saturn 10,Apollo 10cm: Charlie Brownlm: Snoopy,"May 18, 1969",Stafford Young Cernan,This mission was a dress rehearsal for a lunar...
21,Apollo-Saturn 11,Apollo 11cm: Columbialm: Eagle,"July 16, 1969",Armstrong Collins Aldrin,Apollo 11 successfully completed the first man...
22,Apollo-Saturn 12,Apollo 12cm: Yankee Clipperlm: Intrepid,"November 14, 1969",Conrad Gordon Bean,Apollo 12 made the second landing on the moon....
23,Apollo-Saturn 13,Apollo 13cm: Odysseylm: Aquarius,"April 11, 1970",Lovell Swigert Haise,The third manned lunar landing was aborted due...
24,Apollo-Saturn 14,Apollo 14cm: Kitty Hawklm: Antares,"January 31, 1971",Shepard Roosa Mitchell,Apollo 14 was the third successful lunar landi...
25,Apollo-Saturn 15,Apollo 15cm: Endeavourlm: Falcon,"July 26, 1971",Scott Worden Irwin,Scott and Irwin became the first astronauts to...
26,Apollo-Saturn 16,Apollo 16cm: Casperlm: Orion,"April 16, 1972",Young Mattingly Duke,Young and Duke visited the previously unexplor...
27,Apollo-Saturn 17,Apollo 17cm: Challengerlm: America,"December 7, 1972",Cernan Evans Schmitt,Apollo 17 was the last lunar landing mission. ...
28,Skylab SL-2,Skylab,"May 25, 1973",Conrad Kerwin Weitz,"The first American laboratory in space, Skylab..."
29,Skylab SL-3,Skylab,"July 23, 1973",Bean Garriott Lousma,These astronauts became the second crew of Sky...
...,...,...,...,...,...
41,41-C,Challenger,"April 6, 1984",Crippen Scobee Hart van Hoften Nelson,"This mission accomplished the first capture, r..."
42,41-D,Discovery,"August 30, 1984",Hartsfield Coats Mullane Hawley Resnik Walker,First flight of the Shuttle Discovery. The Con...
43,41-G,Challenger,"October 5, 1984",Crippen McBride Sullivan Ride Leestma Scully-P...,First crew of seven. The astronauts deployed t...
44,51-A,Discovery,"November 8, 1984",Hauck Walker Allen Fisher Gardner,Two new satellites were launched and two broke...
45,51-C,Discovery,"January 24, 1985",Mattingly Shriver Onizuka Buchli Payton,The first classified U.S. Department of Defens...
46,51-D,Discovery,"April 12, 1985",Bobko Williams Seddon Griggs Hoffman Walker Garn,This mission deployed a communications satellite.
47,51-B,"Challenger, Spacelab","April 29, 1985",Overmyer Gregory Lind Thagard Thornton Wang va...,"Spacelab 3, the first life sciences and space ..."
48,51-G,Discovery,"June 17, 1985",Brandenstein Creighton Fabian Nagel Lucid Baud...,The first tri-national space crew deployed thr...
49,51-F,"Challenger, Spacelab","July 29, 1985",Fullerton Bridges Henize Musgrave England Acto...,Spacelab 2 carried experiments in life science...
50,51-I,Discovery,"August 27, 1985",Engle Covey van Hoften Lounge Fisher,"The astronauts deployed two satellites, then r..."
51,51-J,Atlantis,"October 3, 1985",Bobko Grabe Hilmers Stewart Pailes,The first flight of Shuttle Atlantis was the s...
52,61-A,"Challenger, Spacelab D1","October 30, 1985",Hartsfield Nagel Dunbar Buchli Bluford Furrer ...,Spacelab D1 was controlled by the West German ...
53,61-B,Atlantis,"November 26, 1985",Shaw O'Connor Ross Cleave Spring Walker Neri Vela,The crew of Mission 61-B tested space construc...
54,61-C,Columbia,"January 12, 1986",Gibson Bolden Nelson Hawley Chang-Diaz Cenker,This mission had lots of problems and had to b...
55,51-L,Challenger,"January 28, 1986",Scobee Smith Onizuka Resnik McNair Jarvis McAu...,All seven crew members were killed when Challe...
56,STS-26,Discovery,"September 29, 1988",Hauck Covey Lounge Hilmers Nelson,The Shuttle program's return to flight after t...
57,STS-27,Atlantis,"December 2, 1988",Gibson Gardner Mullane Ross Shepherd,The third classified Department of Defense Shu...
58,STS-29,Discovery,"March 13, 1989",Coats Blaha Buchli Springer Bagian,This mission deployed the third tracking and d...
59,STS-30,Atlantis,"May 4, 1989",Walker Grabe Thagard Cleave Lee,Deployed the radar mapping space probe Magella...
60,STS-28,Columbia,"August 13, 1989",Shaw Richards Leestma Adamson Brown,The fourth classified Department of Defense Sh...
61,STS-34,Atlantis,"October 18, 1989",Williams McCulley Lucid Chang-Diaz Baker,"Deployed the space probe Galileo, sending it o..."
62,STS-33,Discovery,"November 22, 1989",Gregory Blaha Carter Musgrave Thornton,The fifth Department of Defense Shuttle mission.
63,STS-32,Columbia,"January 9, 1990",Brandenstein Wetherbee Dunbar Ivins Low,This Shuttle mission deployed the Syncom IV-5 ...
64,STS-36,Atlantis,"February 28, 1990",Creighton Casper Hilmers Mullane Thuot,The sixth classified Department of Defense Shu...
65,STS-31,Discovery,"April 24, 1990",Shriver Bolden McCandless Hawley Sullivan,Deployed the Hubble Space Telescope.
66,STS-41,Discovery,"October 6, 1990",Richards Cabana Melnick Shepherd Akers,"Deployed the Ulysses space probe, sending it o..."
67,STS-38,Atlantis,"November 15, 1990",Covey Culbertson Springer Meade Gemar,The last classified Department of Defense Shut...
68,STS-35,Columbia,"December 2, 1990",Brand Gardner Hoffman Lounge Parker,This Spacelab mission performed astronomical e...
69,STS-37,Atlantis,"April 5, 1991",Nagel Cameron Godwin Ross Apt,Deployed the Gamma Ray Observatory.
70,STS-39,Discovery,"April 28,1991",Coats Hammond Harbaugh McMonagle Bluford Veach...,This unclassified Department of Defense Shuttl...

In [14]:
#Remove leading characters and commas from crew column (currently they are only leading, not deliminating)
df_mission['Crew'] = df_mission['Crew'].str.strip(',')
df_mission

,Mission,Craft,Launch Date,Crew,Mission Highlights
0,Mercury-3,Freedom 7,"May 5, 1961",Shepard,Alan Shepard became the first American in spac...
1,Mercury-4,Liberty Bell-7,"July 21, 1961",Grissom,"The second US sub-orbital flight, reaching an ..."
2,Mercury-6,Friendship 7,"February 20,1962",Glenn,The first US manned orbital flight at an orbit...
3,Mercury-7,Aurora 7,"May 24, 1962",Carpenter,The second US manned orbital flight which orbi...
4,Mercury-8,Sigma 7,"October 3, 1962",Schirra,Walter Schirra orbited the Earth six times dur...
5,Mercury 9,Faith 7,"May 15, 1963",Cooper,Cooper pilots the longest and last Mercury mis...
6,Gemini-Titan 3,Molly Brown,"March 23, 1965",GrissomYoung,"Starting the Gemini program, this spacecraft w..."
7,Gemini-Titan 4,Gemini 4,"June 3, 1965",McDivittWhite,This mission set a four-day endurance record. ...
8,Gemini-Titan 5,Gemini 5,"August 21, 1965",Cooper Conrad,Cooper and Conrad set the world endurance reco...
9,Gemini-Titan 7,Gemini 7,"December 4, 1965",Borman Lovell,This mission set yet another endurance record ...
10,Gemini-Titan 6-A,Gemini 6,"December 15,1965",SchirraStafford,Gemini 6 rendezvoused with Gemini 7 coming wit...
11,Gemini-Titan 8,Gemini 8,"March 16,1966",Armstrong Scott,Armstrong and Scott perform the first docking ...
12,Gemini-Titan 9-A,Gemini 9,"June 3,1966",Stafford Cernan,Gemini 9 rendezvoused with the Augmented Targe...
13,Gemini-Titan 10,Gemini 10,"July 18,1966",Young Collins,Gemini 10 reached a record altitude of 468 mil...
14,Gemini-Titan 11,Gemini 11,"September 12, 1966",Conrad Gordon,Gemini made the first American autopilot reent...
15,Gemini-Titan 12,Gemini 12,"November 11, 1966",Lovell Aldrin,"In this last Gemini mission, Aldrin made three..."
16,Apollo-Saturn 204,Apollo 1,"January 27, 1967",GrissomWhite Chaffee,While training for a fourteen-day mission sche...
17,Apollo-Saturn 7,Apollo 7,"October 11, 1968",Schirra Eisele Cunningham,The Apollo spacecraft makes its first flight a...
18,Apollo-Saturn 8,Apollo 8,"December 21, 1968",Borman Lovell Anders,This Saturn 5 rocket sent the astronauts to th...
19,Apollo-Saturn 9,Apollo 9cm: Gumdroplm: Spider,"March 3, 1969",McDivitt Scott Schweickart,McDivitt and Schweickart made the first manned...
20,Apollo-Saturn 10,Apollo 10cm: Charlie Brownlm: Snoopy,"May 18, 1969",Stafford Young Cernan,This mission was a dress rehearsal for a lunar...
21,Apollo-Saturn 11,Apollo 11cm: Columbialm: Eagle,"July 16, 1969",Armstrong Collins Aldrin,Apollo 11 successfully completed the first man...
22,Apollo-Saturn 12,Apollo 12cm: Yankee Clipperlm: Intrepid,"November 14, 1969",Conrad Gordon Bean,Apollo 12 made the second landing on the moon....
23,Apollo-Saturn 13,Apollo 13cm: Odysseylm: Aquarius,"April 11, 1970",Lovell Swigert Haise,The third manned lunar landing was aborted due...
24,Apollo-Saturn 14,Apollo 14cm: Kitty Hawklm: Antares,"January 31, 1971",Shepard Roosa Mitchell,Apollo 14 was the third successful lunar landi...
25,Apollo-Saturn 15,Apollo 15cm: Endeavourlm: Falcon,"July 26, 1971",Scott Worden Irwin,Scott and Irwin became the first astronauts to...
26,Apollo-Saturn 16,Apollo 16cm: Casperlm: Orion,"April 16, 1972",Young Mattingly Duke,Young and Duke visited the previously unexplor...
27,Apollo-Saturn 17,Apollo 17cm: Challengerlm: America,"December 7, 1972",Cernan Evans Schmitt,Apollo 17 was the last lunar landing mission. ...
28,Skylab SL-2,Skylab,"May 25, 1973",Conrad Kerwin Weitz,"The first American laboratory in space, Skylab..."
29,Skylab SL-3,Skylab,"July 23, 1973",Bean Garriott Lousma,These astronauts became the second crew of Sky...
...,...,...,...,...,...
41,41-C,Challenger,"April 6, 1984",Crippen Scobee Hart van Hoften Nelson,"This mission accomplished the first capture, r..."
42,41-D,Discovery,"August 30, 1984",Hartsfield Coats Mullane Hawley Resnik Walker,First flight of the Shuttle Discovery. The Con...
43,41-G,Challenger,"October 5, 1984",Crippen McBride Sullivan Ride Leestma Scully-P...,First crew of seven. The astronauts deployed t...
44,51-A,Discovery,"November 8, 1984",Hauck Walker Allen Fisher Gardner,Two new satellites were launched and two broke...
45,51-C,Discovery,"January 24, 1985",Mattingly Shriver Onizuka Buchli Payton,The first classified U.S. Department of Defens...
46,51-D,Discovery,"April 12, 1985",Bobko Williams Seddon Griggs Hoffman Walker Garn,This mission deployed a communications satellite.
47,51-B,"Challenger, Spacelab","April 29, 1985",Overmyer Gregory Lind Thagard Thornton Wang va...,"Spacelab 3, the first life sciences and space ..."
48,51-G,Discovery,"June 17, 1985",Brandenstein Creighton Fabian Nagel Lucid Baud...,The first tri-national space crew deployed thr...
49,51-F,"Challenger, Spacelab","July 29, 1985",Fullerton Bridges Henize Musgrave England Acto...,Spacelab 2 carried experiments in life science...
50,51-I,Discovery,"August 27, 1985",Engle Covey van Hoften Lounge Fisher,"The astronauts deployed two satellites, then r..."
51,51-J,Atlantis,"October 3, 1985",Bobko Grabe Hilmers Stewart Pailes,The first flight of Shuttle Atlantis was the s...
52,61-A,"Challenger, Spacelab D1","October 30, 1985",Hartsfield Nagel Dunbar Buchli Bluford Furrer ...,Spacelab D1 was controlled by the West German ...
53,61-B,Atlantis,"November 26, 1985",Shaw O'Connor Ross Cleave Spring Walker Neri Vela,The crew of Mission 61-B tested space construc...
54,61-C,Columbia,"January 12, 1986",Gibson Bolden Nelson Hawley Chang-Diaz Cenker,This mission had lots of problems and had to b...
55,51-L,Challenger,"January 28, 1986",Scobee Smith Onizuka Resnik McNair Jarvis McAu...,All seven crew members were killed when Challe...
56,STS-26,Discovery,"September 29, 1988",Hauck Covey Lounge Hilmers Nelson,The Shuttle program's return to flight after t...
57,STS-27,Atlantis,"December 2, 1988",Gibson Gardner Mullane Ross Shepherd,The third classified Department of Defense Shu...
58,STS-29,Discovery,"March 13, 1989",Coats Blaha Buchli Springer Bagian,This mission deployed the third tracking and d...
59,STS-30,Atlantis,"May 4, 1989",Walker Grabe Thagard Cleave Lee,Deployed the radar mapping space probe Magella...
60,STS-28,Columbia,"August 13, 1989",Shaw Richards Leestma Adamson Brown,The fourth classified Department of Defense Sh...
61,STS-34,Atlantis,"October 18, 1989",Williams McCulley Lucid Chang-Diaz Baker,"Deployed the space probe Galileo, sending it o..."
62,STS-33,Discovery,"November 22, 1989",Gregory Blaha Carter Musgrave Thornton,The fifth Department of Defense Shuttle mission.
63,STS-32,Columbia,"January 9, 1990",Brandenstein Wetherbee Dunbar Ivins Low,This Shuttle mission deployed the Syncom IV-5 ...
64,STS-36,Atlantis,"February 28, 1990",Creighton Casper Hilmers Mullane Thuot,The sixth classified Department of Defense Shu...
65,STS-31,Discovery,"April 24, 1990",Shriver Bolden McCandless Hawley Sullivan,Deployed the Hubble Space Telescope.
66,STS-41,Discovery,"October 6, 1990",Richards Cabana Melnick Shepherd Akers,"Deployed the Ulysses space probe, sending it o..."
67,STS-38,Atlantis,"November 15, 1990",Covey Culbertson Springer Meade Gemar,The last classified Department of Defense Shut...
68,STS-35,Columbia,"December 2, 1990",Brand Gardner Hoffman Lounge Parker,This Spacelab mission performed astronomical e...
69,STS-37,Atlantis,"April 5, 1991",Nagel Cameron Godwin Ross Apt,Deployed the Gamma Ray Observatory.
70,STS-39,Discovery,"April 28,1991",Coats Hammond Harbaugh McMonagle Bluford Veach...,This unclassified Department of Defense Shuttl...

In [15]:
#Split names for sorting
def split_it(crew_string):
    result = re.sub(r"(\w)([A-Z])", r"\1 \2", crew_string)

    if 'Mac' in result:
        result = result.replace("Mac ", "Mac")
    
    if "Mc" in result:
        result = result.replace("Mc ", "Mc")
        
    if "van den Berg" in result:
        result = "vandenBerg"
    
    if "van Hoften" in result:
        result = "vanHoften"

    return(result)

df_mission['Crew'] = df_mission['Crew'].apply(split_it)
df_mission

,Mission,Craft,Launch Date,Crew,Mission Highlights
0,Mercury-3,Freedom 7,"May 5, 1961",Shepard,Alan Shepard became the first American in spac...
1,Mercury-4,Liberty Bell-7,"July 21, 1961",Grissom,"The second US sub-orbital flight, reaching an ..."
2,Mercury-6,Friendship 7,"February 20,1962",Glenn,The first US manned orbital flight at an orbit...
3,Mercury-7,Aurora 7,"May 24, 1962",Carpenter,The second US manned orbital flight which orbi...
4,Mercury-8,Sigma 7,"October 3, 1962",Schirra,Walter Schirra orbited the Earth six times dur...
5,Mercury 9,Faith 7,"May 15, 1963",Cooper,Cooper pilots the longest and last Mercury mis...
6,Gemini-Titan 3,Molly Brown,"March 23, 1965",Grissom Young,"Starting the Gemini program, this spacecraft w..."
7,Gemini-Titan 4,Gemini 4,"June 3, 1965",McDivitt White,This mission set a four-day endurance record. ...
8,Gemini-Titan 5,Gemini 5,"August 21, 1965",Cooper Conrad,Cooper and Conrad set the world endurance reco...
9,Gemini-Titan 7,Gemini 7,"December 4, 1965",Borman Lovell,This mission set yet another endurance record ...
10,Gemini-Titan 6-A,Gemini 6,"December 15,1965",Schirra Stafford,Gemini 6 rendezvoused with Gemini 7 coming wit...
11,Gemini-Titan 8,Gemini 8,"March 16,1966",Armstrong Scott,Armstrong and Scott perform the first docking ...
12,Gemini-Titan 9-A,Gemini 9,"June 3,1966",Stafford Cernan,Gemini 9 rendezvoused with the Augmented Targe...
13,Gemini-Titan 10,Gemini 10,"July 18,1966",Young Collins,Gemini 10 reached a record altitude of 468 mil...
14,Gemini-Titan 11,Gemini 11,"September 12, 1966",Conrad Gordon,Gemini made the first American autopilot reent...
15,Gemini-Titan 12,Gemini 12,"November 11, 1966",Lovell Aldrin,"In this last Gemini mission, Aldrin made three..."
16,Apollo-Saturn 204,Apollo 1,"January 27, 1967",Grissom White Chaffee,While training for a fourteen-day mission sche...
17,Apollo-Saturn 7,Apollo 7,"October 11, 1968",Schirra Eisele Cunningham,The Apollo spacecraft makes its first flight a...
18,Apollo-Saturn 8,Apollo 8,"December 21, 1968",Borman Lovell Anders,This Saturn 5 rocket sent the astronauts to th...
19,Apollo-Saturn 9,Apollo 9cm: Gumdroplm: Spider,"March 3, 1969",McDivitt Scott Schweickart,McDivitt and Schweickart made the first manned...
20,Apollo-Saturn 10,Apollo 10cm: Charlie Brownlm: Snoopy,"May 18, 1969",Stafford Young Cernan,This mission was a dress rehearsal for a lunar...
21,Apollo-Saturn 11,Apollo 11cm: Columbialm: Eagle,"July 16, 1969",Armstrong Collins Aldrin,Apollo 11 successfully completed the first man...
22,Apollo-Saturn 12,Apollo 12cm: Yankee Clipperlm: Intrepid,"November 14, 1969",Conrad Gordon Bean,Apollo 12 made the second landing on the moon....
23,Apollo-Saturn 13,Apollo 13cm: Odysseylm: Aquarius,"April 11, 1970",Lovell Swigert Haise,The third manned lunar landing was aborted due...
24,Apollo-Saturn 14,Apollo 14cm: Kitty Hawklm: Antares,"January 31, 1971",Shepard Roosa Mitchell,Apollo 14 was the third successful lunar landi...
25,Apollo-Saturn 15,Apollo 15cm: Endeavourlm: Falcon,"July 26, 1971",Scott Worden Irwin,Scott and Irwin became the first astronauts to...
26,Apollo-Saturn 16,Apollo 16cm: Casperlm: Orion,"April 16, 1972",Young Mattingly Duke,Young and Duke visited the previously unexplor...
27,Apollo-Saturn 17,Apollo 17cm: Challengerlm: America,"December 7, 1972",Cernan Evans Schmitt,Apollo 17 was the last lunar landing mission. ...
28,Skylab SL-2,Skylab,"May 25, 1973",Conrad Kerwin Weitz,"The first American laboratory in space, Skylab..."
29,Skylab SL-3,Skylab,"July 23, 1973",Bean Garriott Lousma,These astronauts became the second crew of Sky...
...,...,...,...,...,...
41,41-C,Challenger,"April 6, 1984",vanHoften,"This mission accomplished the first capture, r..."
42,41-D,Discovery,"August 30, 1984",Hartsfield Coats Mullane Hawley Resnik Walker,First flight of the Shuttle Discovery. The Con...
43,41-G,Challenger,"October 5, 1984",Crippen McBride Sullivan Ride Leestma Scully-P...,First crew of seven. The astronauts deployed t...
44,51-A,Discovery,"November 8, 1984",Hauck Walker Allen Fisher Gardner,Two new satellites were launched and two broke...
45,51-C,Discovery,"January 24, 1985",Mattingly Shriver Onizuka Buchli Payton,The first classified U.S. Department of Defens...
46,51-D,Discovery,"April 12, 1985",Bobko Williams Seddon Griggs Hoffman Walker Garn,This mission deployed a communications satellite.
47,51-B,"Challenger, Spacelab","April 29, 1985",vandenBerg,"Spacelab 3, the first life sciences and space ..."
48,51-G,Discovery,"June 17, 1985",Brandenstein Creighton Fabian Nagel Lucid Baud...,The first tri-national space crew deployed thr...
49,51-F,"Challenger, Spacelab","July 29, 1985",Fullerton Bridges Henize Musgrave England Acto...,Spacelab 2 carried experiments in life science...
50,51-I,Discovery,"August 27, 1985",vanHoften,"The astronauts deployed two satellites, then r..."
51,51-J,Atlantis,"October 3, 1985",Bobko Grabe Hilmers Stewart Pailes,The first flight of Shuttle Atlantis was the s...
52,61-A,"Challenger, Spacelab D1","October 30, 1985",Hartsfield Nagel Dunbar Buchli Bluford Furrer ...,Spacelab D1 was controlled by the West German ...
53,61-B,Atlantis,"November 26, 1985",Shaw O'Connor Ross Cleave Spring Walker Neri Vela,The crew of Mission 61-B tested space construc...
54,61-C,Columbia,"January 12, 1986",Gibson Bolden Nelson Hawley Chang-Diaz Cenker,This mission had lots of problems and had to b...
55,51-L,Challenger,"January 28, 1986",Scobee Smith Onizuka Resnik McNair Jarvis McAu...,All seven crew members were killed when Challe...
56,STS-26,Discovery,"September 29, 1988",Hauck Covey Lounge Hilmers Nelson,The Shuttle program's return to flight after t...
57,STS-27,Atlantis,"December 2, 1988",Gibson Gardner Mullane Ross Shepherd,The third classified Department of Defense Shu...
58,STS-29,Discovery,"March 13, 1989",Coats Blaha Buchli Springer Bagian,This mission deployed the third tracking and d...
59,STS-30,Atlantis,"May 4, 1989",Walker Grabe Thagard Cleave Lee,Deployed the radar mapping space probe Magella...
60,STS-28,Columbia,"August 13, 1989",Shaw Richards Leestma Adamson Brown,The fourth classified Department of Defense Sh...
61,STS-34,Atlantis,"October 18, 1989",Williams McCulley Lucid Chang-Diaz Baker,"Deployed the space probe Galileo, sending it o..."
62,STS-33,Discovery,"November 22, 1989",Gregory Blaha Carter Musgrave Thornton,The fifth Department of Defense Shuttle mission.
63,STS-32,Columbia,"January 9, 1990",Brandenstein Wetherbee Dunbar Ivins Low,This Shuttle mission deployed the Syncom IV-5 ...
64,STS-36,Atlantis,"February 28, 1990",Creighton Casper Hilmers Mullane Thuot,The sixth classified Department of Defense Shu...
65,STS-31,Discovery,"April 24, 1990",Shriver Bolden McCandless Hawley Sullivan,Deployed the Hubble Space Telescope.
66,STS-41,Discovery,"October 6, 1990",Richards Cabana Melnick Shepherd Akers,"Deployed the Ulysses space probe, sending it o..."
67,STS-38,Atlantis,"November 15, 1990",Covey Culbertson Springer Meade Gemar,The last classified Department of Defense Shut...
68,STS-35,Columbia,"December 2, 1990",Brand Gardner Hoffman Lounge Parker,This Spacelab mission performed astronomical e...
69,STS-37,Atlantis,"April 5, 1991",Nagel Cameron Godwin Ross Apt,Deployed the Gamma Ray Observatory.
70,STS-39,Discovery,"April 28,1991",Coats Hammond Harbaugh McMonagle Bluford Veach...,This unclassified Department of Defense Shuttl...

In [16]:
#Move Crew column to second column
my_column = df_mission.pop('Crew')
df_mission.insert(0, my_column.name, my_column)
df_mission

,Crew,Mission,Craft,Launch Date,Mission Highlights
0,Shepard,Mercury-3,Freedom 7,"May 5, 1961",Alan Shepard became the first American in spac...
1,Grissom,Mercury-4,Liberty Bell-7,"July 21, 1961","The second US sub-orbital flight, reaching an ..."
2,Glenn,Mercury-6,Friendship 7,"February 20,1962",The first US manned orbital flight at an orbit...
3,Carpenter,Mercury-7,Aurora 7,"May 24, 1962",The second US manned orbital flight which orbi...
4,Schirra,Mercury-8,Sigma 7,"October 3, 1962",Walter Schirra orbited the Earth six times dur...
5,Cooper,Mercury 9,Faith 7,"May 15, 1963",Cooper pilots the longest and last Mercury mis...
6,Grissom Young,Gemini-Titan 3,Molly Brown,"March 23, 1965","Starting the Gemini program, this spacecraft w..."
7,McDivitt White,Gemini-Titan 4,Gemini 4,"June 3, 1965",This mission set a four-day endurance record. ...
8,Cooper Conrad,Gemini-Titan 5,Gemini 5,"August 21, 1965",Cooper and Conrad set the world endurance reco...
9,Borman Lovell,Gemini-Titan 7,Gemini 7,"December 4, 1965",This mission set yet another endurance record ...
10,Schirra Stafford,Gemini-Titan 6-A,Gemini 6,"December 15,1965",Gemini 6 rendezvoused with Gemini 7 coming wit...
11,Armstrong Scott,Gemini-Titan 8,Gemini 8,"March 16,1966",Armstrong and Scott perform the first docking ...
12,Stafford Cernan,Gemini-Titan 9-A,Gemini 9,"June 3,1966",Gemini 9 rendezvoused with the Augmented Targe...
13,Young Collins,Gemini-Titan 10,Gemini 10,"July 18,1966",Gemini 10 reached a record altitude of 468 mil...
14,Conrad Gordon,Gemini-Titan 11,Gemini 11,"September 12, 1966",Gemini made the first American autopilot reent...
15,Lovell Aldrin,Gemini-Titan 12,Gemini 12,"November 11, 1966","In this last Gemini mission, Aldrin made three..."
16,Grissom White Chaffee,Apollo-Saturn 204,Apollo 1,"January 27, 1967",While training for a fourteen-day mission sche...
17,Schirra Eisele Cunningham,Apollo-Saturn 7,Apollo 7,"October 11, 1968",The Apollo spacecraft makes its first flight a...
18,Borman Lovell Anders,Apollo-Saturn 8,Apollo 8,"December 21, 1968",This Saturn 5 rocket sent the astronauts to th...
19,McDivitt Scott Schweickart,Apollo-Saturn 9,Apollo 9cm: Gumdroplm: Spider,"March 3, 1969",McDivitt and Schweickart made the first manned...
20,Stafford Young Cernan,Apollo-Saturn 10,Apollo 10cm: Charlie Brownlm: Snoopy,"May 18, 1969",This mission was a dress rehearsal for a lunar...
21,Armstrong Collins Aldrin,Apollo-Saturn 11,Apollo 11cm: Columbialm: Eagle,"July 16, 1969",Apollo 11 successfully completed the first man...
22,Conrad Gordon Bean,Apollo-Saturn 12,Apollo 12cm: Yankee Clipperlm: Intrepid,"November 14, 1969",Apollo 12 made the second landing on the moon....
23,Lovell Swigert Haise,Apollo-Saturn 13,Apollo 13cm: Odysseylm: Aquarius,"April 11, 1970",The third manned lunar landing was aborted due...
24,Shepard Roosa Mitchell,Apollo-Saturn 14,Apollo 14cm: Kitty Hawklm: Antares,"January 31, 1971",Apollo 14 was the third successful lunar landi...
25,Scott Worden Irwin,Apollo-Saturn 15,Apollo 15cm: Endeavourlm: Falcon,"July 26, 1971",Scott and Irwin became the first astronauts to...
26,Young Mattingly Duke,Apollo-Saturn 16,Apollo 16cm: Casperlm: Orion,"April 16, 1972",Young and Duke visited the previously unexplor...
27,Cernan Evans Schmitt,Apollo-Saturn 17,Apollo 17cm: Challengerlm: America,"December 7, 1972",Apollo 17 was the last lunar landing mission. ...
28,Conrad Kerwin Weitz,Skylab SL-2,Skylab,"May 25, 1973","The first American laboratory in space, Skylab..."
29,Bean Garriott Lousma,Skylab SL-3,Skylab,"July 23, 1973",These astronauts became the second crew of Sky...
...,...,...,...,...,...
41,vanHoften,41-C,Challenger,"April 6, 1984","This mission accomplished the first capture, r..."
42,Hartsfield Coats Mullane Hawley Resnik Walker,41-D,Discovery,"August 30, 1984",First flight of the Shuttle Discovery. The Con...
43,Crippen McBride Sullivan Ride Leestma Scully-P...,41-G,Challenger,"October 5, 1984",First crew of seven. The astronauts deployed t...
44,Hauck Walker Allen Fisher Gardner,51-A,Discovery,"November 8, 1984",Two new satellites were launched and two broke...
45,Mattingly Shriver Onizuka Buchli Payton,51-C,Discovery,"January 24, 1985",The first classified U.S. Department of Defens...
46,Bobko Williams Seddon Griggs Hoffman Walker Garn,51-D,Discovery,"April 12, 1985",This mission deployed a communications satellite.
47,vandenBerg,51-B,"Challenger, Spacelab","April 29, 1985","Spacelab 3, the first life sciences and space ..."
48,Brandenstein Creighton Fabian Nagel Lucid Baud...,51-G,Discovery,"June 17, 1985",The first tri-national space crew deployed thr...
49,Fullerton Bridges Henize Musgrave England Acto...,51-F,"Challenger, Spacelab","July 29, 1985",Spacelab 2 carried experiments in life science...
50,vanHoften,51-I,Discovery,"August 27, 1985","The astronauts deployed two satellites, then r..."
51,Bobko Grabe Hilmers Stewart Pailes,51-J,Atlantis,"October 3, 1985",The first flight of Shuttle Atlantis was the s...
52,Hartsfield Nagel Dunbar Buchli Bluford Furrer ...,61-A,"Challenger, Spacelab D1","October 30, 1985",Spacelab D1 was controlled by the West German ...
53,Shaw O'Connor Ross Cleave Spring Walker Neri Vela,61-B,Atlantis,"November 26, 1985",The crew of Mission 61-B tested space construc...
54,Gibson Bolden Nelson Hawley Chang-Diaz Cenker,61-C,Columbia,"January 12, 1986",This mission had lots of problems and had to b...
55,Scobee Smith Onizuka Resnik McNair Jarvis McAu...,51-L,Challenger,"January 28, 1986",All seven crew members were killed when Challe...
56,Hauck Covey Lounge Hilmers Nelson,STS-26,Discovery,"September 29, 1988",The Shuttle program's return to flight after t...
57,Gibson Gardner Mullane Ross Shepherd,STS-27,Atlantis,"December 2, 1988",The third classified Department of Defense Shu...
58,Coats Blaha Buchli Springer Bagian,STS-29,Discovery,"March 13, 1989",This mission deployed the third tracking and d...
59,Walker Grabe Thagard Cleave Lee,STS-30,Atlantis,"May 4, 1989",Deployed the radar mapping space probe Magella...
60,Shaw Richards Leestma Adamson Brown,STS-28,Columbia,"August 13, 1989",The fourth classified Department of Defense Sh...
61,Williams McCulley Lucid Chang-Diaz Baker,STS-34,Atlantis,"October 18, 1989","Deployed the space probe Galileo, sending it o..."
62,Gregory Blaha Carter Musgrave Thornton,STS-33,Discovery,"November 22, 1989",The fifth Department of Defense Shuttle mission.
63,Brandenstein Wetherbee Dunbar Ivins Low,STS-32,Columbia,"January 9, 1990",This Shuttle mission deployed the Syncom IV-5 ...
64,Creighton Casper Hilmers Mullane Thuot,STS-36,Atlantis,"February 28, 1990",The sixth classified Department of Defense Shu...
65,Shriver Bolden McCandless Hawley Sullivan,STS-31,Discovery,"April 24, 1990",Deployed the Hubble Space Telescope.
66,Richards Cabana Melnick Shepherd Akers,STS-41,Discovery,"October 6, 1990","Deployed the Ulysses space probe, sending it o..."
67,Covey Culbertson Springer Meade Gemar,STS-38,Atlantis,"November 15, 1990",The last classified Department of Defense Shut...
68,Brand Gardner Hoffman Lounge Parker,STS-35,Columbia,"December 2, 1990",This Spacelab mission performed astronomical e...
69,Nagel Cameron Godwin Ross Apt,STS-37,Atlantis,"April 5, 1991",Deployed the Gamma Ray Observatory.
70,Coats Hammond Harbaugh McMonagle Bluford Veach...,STS-39,Discovery,"April 28,1991",This unclassified Department of Defense Shuttl...

In [17]:
#Setting up name split per mission
mission_df = pd.DataFrame(columns=df_mission.columns)
mission_df

#Iterate over df in order to create new df, split names appropriately so each crew member is seperate
for index, row in df_mission.iterrows():
    check = row["Crew"].split(" ")
    
    for name in check:
        mission = row["Mission"]
        craft = row["Craft"]
        launchdate= row["Launch Date"]
        missionhighlights = row["Mission Highlights"]
        simp_df = pd.DataFrame([[name, mission, craft, launchdate, missionhighlights]], columns=mission_df.columns)
        mission_df = mission_df.append(simp_df)

#Apply sort based on Crew Member's Last Name
mission_df = mission_df.sort_values(by=["Crew"])

#Reset index
mission_df = mission_df.reset_index(drop=True)

mission_df

,Crew,Mission,Craft,Launch Date,Mission Highlights
0,Acton,51-F,"Challenger, Spacelab","July 29, 1985",Spacelab 2 carried experiments in life science...
1,Adamson,STS-28,Columbia,"August 13, 1989",The fourth classified Department of Defense Sh...
2,Akers,STS-41,Discovery,"October 6, 1990","Deployed the Ulysses space probe, sending it o..."
3,Al-Saud,51-G,Discovery,"June 17, 1985",The first tri-national space crew deployed thr...
4,Aldrin,Gemini-Titan 12,Gemini 12,"November 11, 1966","In this last Gemini mission, Aldrin made three..."
5,Aldrin,Apollo-Saturn 11,Apollo 11cm: Columbialm: Eagle,"July 16, 1969",Apollo 11 successfully completed the first man...
6,Allen,STS-5,Columbia,"November 11, 1982",First operational flight of the Space Shuttle ...
7,Allen,51-A,Discovery,"November 8, 1984",Two new satellites were launched and two broke...
8,Anders,Apollo-Saturn 8,Apollo 8,"December 21, 1968",This Saturn 5 rocket sent the astronauts to th...
9,Apt,STS-37,Atlantis,"April 5, 1991",Deployed the Gamma Ray Observatory.
10,Armstrong,Gemini-Titan 8,Gemini 8,"March 16,1966",Armstrong and Scott perform the first docking ...
11,Armstrong,Apollo-Saturn 11,Apollo 11cm: Columbialm: Eagle,"July 16, 1969",Apollo 11 successfully completed the first man...
12,Bagian,STS-29,Discovery,"March 13, 1989",This mission deployed the third tracking and d...
13,Baker,STS-34,Atlantis,"October 18, 1989","Deployed the space probe Galileo, sending it o..."
14,Bartoe,51-F,"Challenger, Spacelab","July 29, 1985",Spacelab 2 carried experiments in life science...
15,Baudry,51-G,Discovery,"June 17, 1985",The first tri-national space crew deployed thr...
16,Bean,Skylab SL-3,Skylab,"July 23, 1973",These astronauts became the second crew of Sky...
17,Bean,Apollo-Saturn 12,Apollo 12cm: Yankee Clipperlm: Intrepid,"November 14, 1969",Apollo 12 made the second landing on the moon....
18,Blaha,STS-29,Discovery,"March 13, 1989",This mission deployed the third tracking and d...
19,Blaha,STS-33,Discovery,"November 22, 1989",The fifth Department of Defense Shuttle mission.
20,Bluford,STS-8,Challenger,"April 30, 1983",Bluford became the first African-American to g...
21,Bluford,STS-39,Discovery,"April 28,1991",This unclassified Department of Defense Shuttl...
22,Bluford,61-A,"Challenger, Spacelab D1","October 30, 1985",Spacelab D1 was controlled by the West German ...
23,Bobko,51-J,Atlantis,"October 3, 1985",The first flight of Shuttle Atlantis was the s...
24,Bobko,STS-6,Challenger,"April 4, 1983",First flight of Shuttle Challenger. The first ...
25,Bobko,51-D,Discovery,"April 12, 1985",This mission deployed a communications satellite.
26,Bolden,61-C,Columbia,"January 12, 1986",This mission had lots of problems and had to b...
27,Bolden,STS-31,Discovery,"April 24, 1990",Deployed the Hubble Space Telescope.
28,Borman,Gemini-Titan 7,Gemini 7,"December 4, 1965",This mission set yet another endurance record ...
29,Borman,Apollo-Saturn 8,Apollo 8,"December 21, 1968",This Saturn 5 rocket sent the astronauts to th...
...,...,...,...,...,...
237,Thagard,STS-30,Atlantis,"May 4, 1989",Deployed the radar mapping space probe Magella...
238,Thornton,STS-8,Challenger,"April 30, 1983",Bluford became the first African-American to g...
239,Thornton,STS-33,Discovery,"November 22, 1989",The fifth Department of Defense Shuttle mission.
240,Thuot,STS-36,Atlantis,"February 28, 1990",The sixth classified Department of Defense Shu...
241,Truly,STS-2,Columbia,"November 12, 1981",The second flight of Shuttle Columbia. Technic...
242,Truly,STS-8,Challenger,"April 30, 1983",Bluford became the first African-American to g...
243,Veach,STS-39,Discovery,"April 28,1991",This unclassified Department of Defense Shuttl...
244,Vela,61-B,Atlantis,"November 26, 1985",The crew of Mission 61-B tested space construc...
245,Walker,41-D,Discovery,"August 30, 1984",First flight of the Shuttle Discovery. The Con...
246,Walker,51-D,Discovery,"April 12, 1985",This mission deployed a communications satellite.
247,Walker,61-B,Atlantis,"November 26, 1985",The crew of Mission 61-B tested space construc...
248,Walker,STS-30,Atlantis,"May 4, 1989",Deployed the radar mapping space probe Magella...
249,Walker,51-A,Discovery,"November 8, 1984",Two new satellites were launched and two broke...
250,Weitz,Skylab SL-2,Skylab,"May 25, 1973","The first American laboratory in space, Skylab..."
251,Weitz,STS-6,Challenger,"April 4, 1983",First flight of Shuttle Challenger. The first ...
252,Wetherbee,STS-32,Columbia,"January 9, 1990",This Shuttle mission deployed the Syncom IV-5 ...
253,White,Gemini-Titan 4,Gemini 4,"June 3, 1965",This mission set a four-day endurance record. ...
254,White,Apollo-Saturn 204,Apollo 1,"January 27, 1967",While training for a fourteen-day mission sche...
255,Williams,STS-34,Atlantis,"October 18, 1989","Deployed the space probe Galileo, sending it o..."
256,Williams,51-D,Discovery,"April 12, 1985",This mission deployed a communications satellite.
257,Worden,Apollo-Saturn 15,Apollo 15cm: Endeavourlm: Falcon,"July 26, 1971",Scott and Irwin became the first astronauts to...
258,Young,Apollo-Saturn 16,Apollo 16cm: Casperlm: Orion,"April 16, 1972",Young and Duke visited the previously unexplor...
259,Young,Gemini-Titan 10,Gemini 10,"July 18,1966",Gemini 10 reached a record altitude of 468 mil...
260,Young,STS-9,"Columbia, Spacelab","November 28, 1983",First flight of the European Space Agency's Sp...
261,Young,Gemini-Titan 3,Molly Brown,"March 23, 1965","Starting the Gemini program, this spacecraft w..."
262,Young,Apollo-Saturn 10,Apollo 10cm: Charlie Brownlm: Snoopy,"May 18, 1969",This mission was a dress rehearsal for a lunar...
263,Young,STS-1,Columbia,"April 12, 1981","The first winged, reusable spacecraft, now kno..."
264,vanHoften,41-C,Challenger,"April 6, 1984","This mission accomplished the first capture, r..."
265,vanHoften,51-I,Discovery,"August 27, 1985","The astronauts deployed two satellites, then r..."
266,vandenBerg,51-B,"Challenger, Spacelab","April 29, 1985","Spacelab 3, the first life sciences and space ..."

In [25]:
#Final Name fix for the "van" leaders
def fix_name(crew_name):
    if "vandenBerg" in crew_name:
        name = "van den Berg"  
    elif "vanHoften" in crew_name:
        name = "van Hoften"
    else:
        name = crew_name
        
    return(name)

mission_df['Crew'] = mission_df['Crew'].apply(fix_name)
mission_df

,Crew,Mission,Craft,Launch Date,Mission Highlights
0,Acton,51-F,"Challenger, Spacelab","July 29, 1985",Spacelab 2 carried experiments in life science...
1,Adamson,STS-28,Columbia,"August 13, 1989",The fourth classified Department of Defense Sh...
2,Akers,STS-41,Discovery,"October 6, 1990","Deployed the Ulysses space probe, sending it o..."
3,Al-Saud,51-G,Discovery,"June 17, 1985",The first tri-national space crew deployed thr...
4,Aldrin,Gemini-Titan 12,Gemini 12,"November 11, 1966","In this last Gemini mission, Aldrin made three..."
5,Aldrin,Apollo-Saturn 11,Apollo 11cm: Columbialm: Eagle,"July 16, 1969",Apollo 11 successfully completed the first man...
6,Allen,STS-5,Columbia,"November 11, 1982",First operational flight of the Space Shuttle ...
7,Allen,51-A,Discovery,"November 8, 1984",Two new satellites were launched and two broke...
8,Anders,Apollo-Saturn 8,Apollo 8,"December 21, 1968",This Saturn 5 rocket sent the astronauts to th...
9,Apt,STS-37,Atlantis,"April 5, 1991",Deployed the Gamma Ray Observatory.
10,Armstrong,Gemini-Titan 8,Gemini 8,"March 16,1966",Armstrong and Scott perform the first docking ...
11,Armstrong,Apollo-Saturn 11,Apollo 11cm: Columbialm: Eagle,"July 16, 1969",Apollo 11 successfully completed the first man...
12,Bagian,STS-29,Discovery,"March 13, 1989",This mission deployed the third tracking and d...
13,Baker,STS-34,Atlantis,"October 18, 1989","Deployed the space probe Galileo, sending it o..."
14,Bartoe,51-F,"Challenger, Spacelab","July 29, 1985",Spacelab 2 carried experiments in life science...
15,Baudry,51-G,Discovery,"June 17, 1985",The first tri-national space crew deployed thr...
16,Bean,Skylab SL-3,Skylab,"July 23, 1973",These astronauts became the second crew of Sky...
17,Bean,Apollo-Saturn 12,Apollo 12cm: Yankee Clipperlm: Intrepid,"November 14, 1969",Apollo 12 made the second landing on the moon....
18,Blaha,STS-29,Discovery,"March 13, 1989",This mission deployed the third tracking and d...
19,Blaha,STS-33,Discovery,"November 22, 1989",The fifth Department of Defense Shuttle mission.
20,Bluford,STS-8,Challenger,"April 30, 1983",Bluford became the first African-American to g...
21,Bluford,STS-39,Discovery,"April 28,1991",This unclassified Department of Defense Shuttl...
22,Bluford,61-A,"Challenger, Spacelab D1","October 30, 1985",Spacelab D1 was controlled by the West German ...
23,Bobko,51-J,Atlantis,"October 3, 1985",The first flight of Shuttle Atlantis was the s...
24,Bobko,STS-6,Challenger,"April 4, 1983",First flight of Shuttle Challenger. The first ...
25,Bobko,51-D,Discovery,"April 12, 1985",This mission deployed a communications satellite.
26,Bolden,61-C,Columbia,"January 12, 1986",This mission had lots of problems and had to b...
27,Bolden,STS-31,Discovery,"April 24, 1990",Deployed the Hubble Space Telescope.
28,Borman,Gemini-Titan 7,Gemini 7,"December 4, 1965",This mission set yet another endurance record ...
29,Borman,Apollo-Saturn 8,Apollo 8,"December 21, 1968",This Saturn 5 rocket sent the astronauts to th...
...,...,...,...,...,...
237,Thagard,STS-30,Atlantis,"May 4, 1989",Deployed the radar mapping space probe Magella...
238,Thornton,STS-8,Challenger,"April 30, 1983",Bluford became the first African-American to g...
239,Thornton,STS-33,Discovery,"November 22, 1989",The fifth Department of Defense Shuttle mission.
240,Thuot,STS-36,Atlantis,"February 28, 1990",The sixth classified Department of Defense Shu...
241,Truly,STS-2,Columbia,"November 12, 1981",The second flight of Shuttle Columbia. Technic...
242,Truly,STS-8,Challenger,"April 30, 1983",Bluford became the first African-American to g...
243,Veach,STS-39,Discovery,"April 28,1991",This unclassified Department of Defense Shuttl...
244,Vela,61-B,Atlantis,"November 26, 1985",The crew of Mission 61-B tested space construc...
245,Walker,41-D,Discovery,"August 30, 1984",First flight of the Shuttle Discovery. The Con...
246,Walker,51-D,Discovery,"April 12, 1985",This mission deployed a communications satellite.
247,Walker,61-B,Atlantis,"November 26, 1985",The crew of Mission 61-B tested space construc...
248,Walker,STS-30,Atlantis,"May 4, 1989",Deployed the radar mapping space probe Magella...
249,Walker,51-A,Discovery,"November 8, 1984",Two new satellites were launched and two broke...
250,Weitz,Skylab SL-2,Skylab,"May 25, 1973","The first American laboratory in space, Skylab..."
251,Weitz,STS-6,Challenger,"April 4, 1983",First flight of Shuttle Challenger. The first ...
252,Wetherbee,STS-32,Columbia,"January 9, 1990",This Shuttle mission deployed the Syncom IV-5 ...
253,White,Gemini-Titan 4,Gemini 4,"June 3, 1965",This mission set a four-day endurance record. ...
254,White,Apollo-Saturn 204,Apollo 1,"January 27, 1967",While training for a fourteen-day mission sche...
255,Williams,STS-34,Atlantis,"October 18, 1989","Deployed the space probe Galileo, sending it o..."
256,Williams,51-D,Discovery,"April 12, 1985",This mission deployed a communications satellite.
257,Worden,Apollo-Saturn 15,Apollo 15cm: Endeavourlm: Falcon,"July 26, 1971",Scott and Irwin became the first astronauts to...
258,Young,Apollo-Saturn 16,Apollo 16cm: Casperlm: Orion,"April 16, 1972",Young and Duke visited the previously unexplor...
259,Young,Gemini-Titan 10,Gemini 10,"July 18,1966",Gemini 10 reached a record altitude of 468 mil...
260,Young,STS-9,"Columbia, Spacelab","November 28, 1983",First flight of the European Space Agency's Sp...
261,Young,Gemini-Titan 3,Molly Brown,"March 23, 1965","Starting the Gemini program, this spacecraft w..."
262,Young,Apollo-Saturn 10,Apollo 10cm: Charlie Brownlm: Snoopy,"May 18, 1969",This mission was a dress rehearsal for a lunar...
263,Young,STS-1,Columbia,"April 12, 1981","The first winged, reusable spacecraft, now kno..."
264,van Hoften,41-C,Challenger,"April 6, 1984","This mission accomplished the first capture, r..."
265,van Hoften,51-I,Discovery,"August 27, 1985","The astronauts deployed two satellites, then r..."
266,van den Berg,51-B,"Challenger, Spacelab","April 29, 1985","Spacelab 3, the first life sciences and space ..."